<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modelocaja.css">
    <title>Modelo Caja</title>
</head>
<body>
    <div class="caja">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita repellat impedit consectetur doloribus voluptatem mollitia molestias quod quae sint laudantium explicabo odit, quibusdam hic eum, autem nostrum esse ducimus iure?</p>
    </div>
    <div class="caja">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde a ad eveniet, odit quae eligendi quo architecto quam amet ipsa, aliquam nemo neque illum dolore quisquam iusto vel modi?</p>
    </div>

    
</body>
</html>