<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="selectoresavanzados.css">
    <title>Selectores Avanzados</title>
</head>
<body>
    <p>Soy un parrafo</p>

    <div>
        <article>
            <p>Soy un parrafo dentro de un Article</p>
        </article>
    </div>

    <div>
        <p>Soy un parrafo directamente dentro de un div</p>
    </div>

    <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, debitis tenetur! Quisquam non dolores, soluta ex repudiandae quidem nobis, debitis perferendis ipsam necessitatibus cumque sint sed! Quis culpa dolor labore.
    </article>
</body>
</html>