<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="selectores.css">
    <title>Selectores</title>
    
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repellat deserunt perferendis corporis repudiandae veritatis, quidem natus hic praesentium. Doloribus, cupiditate distinctio! A harum facere, laboriosam veniam et ipsam aperiam.</p>

    <div>
        <p>Soy un parrafo <a href="#">dentro</a> de un div</p>
    </div>

    <div>
        <article>
            <p>Soy un parrafo dentro de un div y un article.</p>
        </article>
    </div>

    <a href="#">Soy un enlace</a>
    <a href="#">Soy otro enlace</a>
</body>
</html>